html, body {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

#intro {
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/img/Armeniando01_bg.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  text-align: center;
  box-shadow: 0 0 200px rgba(0,0,0,0.75) inset;
}

#mapa {
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/img/armeniando_map.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  text-align: center;
  box-shadow: 0 0 200px rgba(0,0,0,0.75) inset;
}

h1 {
  font-family: sans-serif;
  font-size: 35px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  padding: 30px 0;
}

h2 {
  font-family: sans-serif;
  font-size: 35px;
  color: white;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
}

footer {
  padding: 10px;
}

ul {
  list-style-type: none;
}


.card-group .card {
  --bs-card-spacer-x: 5rem;
}

@media (min-width: 576px) {
  #loguitoArtmeniando {
    width: 50%;
    margin-top: 200px;
  }
}

@media (max-width: 575px) {
  #loguitoArtmeniando {
    width: 50%;
    margin-top: 200px;
  }
}

@media (min-width: 768px) {
  #loguitoArtmeniando {
    width: 40%;
    margin-top: 200px;
  }
}

@media (min-width: 991px) {
  #loguitoArtmeniando {
    width: 35%;
    margin-top: 20%;
  }
}

@media (min-width: 1200px) {
  #loguitoArtmeniando {
    width: 25%;
    margin-top: 200px;
  }
}

@media (min-width: 300px) {
  #tit1 {
    font-size: 18px;
    margin-top: 20px;
  }
}

@media (min-width: 576px) {
  #tit1 {
    font-size: 25px;
    margin-top: 20px;
  }
}

@media (min-width: 991px) {
  #tit1 {
    font-size: 25px;
  }
}

@media (min-width: 1200px) {
  #tit1 {
    font-size: 35px;
  }
}

@media (min-width: 767px) {
  #tit1 {
    font-size: 25px;
  }
}

@media (min-width: 576px) {
  #tit1 {
    font-size: 25px;
  }
}

@media (min-width: 1200px) {
  .bot {
    font-size: 20px;
  }
}

.bot {
  background-color: black;
  border-color: black;
  margin-top: 30px;
  padding: 9px 18px 6px;
  min-width: 240px;
}

.bot:hover {
  background-color: white;
  color: black;
  border-color: white;
}

.svgicon {
  width: 36px;
  height: 36px;
  margin-right: 6px;
  fill: white;
  transform: translateY(-1px);
}

.bot:hover .svgicon {
  fill: black;
}

a:hover {
  color: #000000;
}

a:hover {
  color: #636262;
}

/* NAVBAR */

/* Keeps the page content below the fixed navbar */
    body {
      padding-top: 56px; /* prevent content from hiding behind fixed navbar */
    }
    .navbar-brand img {
      height: 32px; /* smaller logo */
    }
    
#intro ul{
  padding-left: 0;
}

.card-body h5 {
  margin-top: 40px;
}

.infografia-text {
  display: grid;
}

.infografia-text-cont p{
  text-align: justify;
}

/* Sponsor strip anchored at bottom of intro */
.sponsor-strip {
    /* position: absolute; */
    padding-top: 80px;
    bottom: 0;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
}

/* Logo style */
.sponsor-logo {
    height: 8vh;
    width: auto;
    opacity: 0.9;
    transition: opacity 0.2s;
}

.sponsor-logo:hover {
    opacity: 1;
}